{% extends 'base.html' %}
{% block head_content %}
    <title>new ability</title>
{% endblock head_content %}
{% block container %}
<div class="row justify-content-md-center">
	<div class="col-6 pt-3 pb-3" id="profile-box">
		<h4>Create a new ability</h4>
		<form method="POST" action="{% url 'abilities:new' %}">
	    	{% csrf_token %}
	    	<input type="hidden" name="user" value="{{ request.user.pk }}">
	    	{{ form.as_p }}
			<button type="submit" class="btn btn-primary btn-block mt-5">Listo</button>
		</form>

	</div>
	
</div>
{% endblock container %}