{% extends "base.html" %}

{% block head_content %}
<title>@{{ user.username }} | Aleph</title>
{% endblock %}

{% block container %}

    <div class="container mb-5" style="margin-top: 8em;">
        <div class="row">
            <div class="col-sm-4 d-flex justify-content-center">
                <img src="{{ user.profileprey.picture.url }}{{ user.profilehunt.picture.url }}" alt="@{{ user.username}}" class="rounded-circle" max-width="150px" height="150px" />
            </div>
            <div class="col-sm-8">
                <h2 style="font-weight: 100;">
                    {{ user.username }}
                    {% if user == request.user %}
                        <a href="{% if user.profilehunter %}{% url 'accounts:update_hunter_profile' %}{% else %}{% url 'accounts:update_prey_profile' %}{% endif %}"
                            class="ml-5 btn btn-sm btn-outline-info"
                        >
                            Editar perfil
                        </a>
                        {% if user.profilehunter %}
                            
                        <a href="{% url 'vacancies:createvacancy' %}"
                            class="ml-5 btn btn-sm btn-outline-info"
                        >
                            Crear Vacante
                        </a>
                        
                        {% endif %}
                    {% else %}
                        <a
                            href=""
                            class="ml-5 btn btn-sm btn-primary"
                        >
                            Follow
                        </a>
                    {% endif %}
                    <a href="{% url 'match' %}"
                            class="ml-5 btn btn-sm btn-outline-info"
                        >
                            Mis Match
                        </a>
                </h2>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <p>{{ user.profilehunter.biography }} {{ user.profileprey.biography }}</p>
                        <p>{% if user.profileprey.profession %}
                            <b>Profesión</b>
                            <br>
                            {{user.profileprey.profession}}
                        
                        {% endif %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% load static %}
    <div class="jumbotron" style="background: url();">
      <h1 class="display-5">Vuelvete <b>Premium</b> ahora!</h1>
      <p class="lead">Logra posicionamiento, estadisticas y valoraciones con la versión <i>premium</i>. por solo <i>$9.990</i> al mes</p>
      <hr class="my-4">
      <p>*Camello no se hace responsable que intenten fraude desde la applicacion*.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://sbapi.bancolombia.com/security/oauth-otp/oauth2/authorize?response_type=code&scope=Payments-order:write:app&redirect_uri=http://localhost:8000/accounts/access-token&client_id=38f00d7d-7d1b-4a00-9df0-05e99381a892" role="button">Suscribete Ahora!</a>
      </p>
    </div>
{% endblock %}