{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="{% static 'img/match.png' %}">

    <title>Home | El Camello</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static "vendor/magnific-popup/magnific-popup.css" %}" rel="stylesheet %}">

    <!-- Custom styles for this template -->
    <link href="{% static "css/creative.min.css"  %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->  
      {% include 'nav.html' %}

<!--    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="{% static 'img/match.png' %}" alt="" height="60" width="60px"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            
          </ul>
        </div>
      </div>
    </nav>
-->
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto" style="margin-top: 150px">
            <h1 class="text-uppercase">
              <strong>¿Qué quieres hacer?</strong>
            </h1>
            <hr>
          </div>
          
          <div class="col-lg-8 mx-auto">
            <div class="row">
              <div class="col-sm text-center">
                {% if user.is_anonymous %}
                    
                  <a class="btn btn-primary btn-xl js-scroll-trigger ml-4" href="{% url "accounts:update_prey_profile" %}">¡Quiero Trabajar!</a>
                  <a class="btn btn-primary btn-xl js-scroll-trigger ml-3" href="{% url "accounts:update_hunter_profile" %}">¡Quiero Contratar!</a>
                {% endif %}
                {% if user.profileprey %}
                  <a class="btn btn-primary btn-xl js-scroll-trigger ml-3" href="{% url "vacancies:feed" %}">¡Quiero Trabajar!</a>
                {% endif %}
                {% if user.profilehunter %}
                  <a class="btn btn-primary btn-xl js-scroll-trigger ml-3" href="{% url "vacancies:feed" %}">¡Quiero Contratar!</a>
                {% endif %}
              </div>
                
            </div>
            <div class="col-sm text-center" style="align-items: center; justify-content: center;">
              <p class="text-faded mb-5" style="padding-top: 40px;">Trabajos ideales para personas indicadas</p>
            </div>
            <div class="col-sm text-center" style="padding-bottom: 40px">
            <img src="{% static 'img/match.png' %}" alt="" height="120px" width="120px">  
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">¿Qué nos hace diferentes?</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row" style="justify-content: center; align-items: center;">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="{% static 'img/tiempo.png' %}" alt="" style="padding-bottom: 10px;">
              <h3 class="mb-3">Ahorra Tiempo</h3>
              <p class="text-muted mb-0">Ya deja de buscar camello ¡ahora él te busca a ti!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="{% static 'img/match.png' %}" alt="" style="padding-bottom: 10px;">
              <h3 class="mb-3"> ¡Haz Match!</h3>
              <p class="text-muted mb-0">Con nuestro algoritmo podrás hacer match con tu camello ideal</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="{% static 'img/dueño.png' %}" alt="" style="padding-bottom: 10px;">
              <h3 class="mb-3">Para los Dueños del Camello</h3>
              <p class="text-muted mb-0">Realiza tu oferta laboral y nuestro sistema encontrará a la persona indicada.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
